.error404 main {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: $tablet-breakpoint) {
        min-height: 65vh;
    }

    @media only screen and (min-width: $pc-breakpoint) {
        min-height: 75vh;
    }
}

