
.faqs{
    align-self: stretch;
}

.faq-wrapper {
    display: grid;
    grid-gap: 1rem;
    padding-bottom: 13vh;


}
.accordion{
    max-width: 800px;
    margin: 0 auto;
    position: relative; 

    // arrow opened
    &.animation {
        &:after {
            top: 14px;
            padding: 0 0 2px;
            transform: rotate(0deg);
        }  
    }

    // arrow closed (default)
    &:after {
        content: '▼';
        color: $accent-color;
        font-size: 15px;
        right: 1rem;
        top: 13px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
        transform: rotate(-90deg);
        transition: all .2s;
    }  
        .menu {
            background-color: rgba(0, 0, 0, 0.35);
            border:solid 1px $accent-color;
            color: $bg-light-color;
            padding: .7rem 2.2rem .7rem .7rem;
            // this is not "p"
            font-size: $font-mobile-p;
            cursor: pointer;
            user-select: none;
            margin: 0;
            border-radius: 4px;
        }
        .menu:hover,
        .menu:active,
        .menu.is-active {
            background-color: rgba(0, 0, 0, 0.95);

        }
        .contents {
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition-duration: 0.3s;
            margin: 0;
        }
        .contents.is-open {
            height: auto;
            opacity: 1;
            padding: 1rem .7rem;
        }

  }



@media only screen and (min-width: $tablet-breakpoint) {

    .faq-wrapper {

        > h2 {
            text-align: center;
            margin: .8rem;
            margin-bottom: 0;
        }
    }
    .accordion {
        position: relative;

        // arrow opened
        &.animation {
            &:after {
                top: 16px;
            }  
        }

        // arrow closed (default)
        &:after {
          font-size: 16px;
          right: 1rem;
          top: 13px;
        }

        .menu {
            font-size: 1.1rem;
            padding: .7rem;
        }

        .contents.is-open {
            padding: 1rem 1.5rem;
        }
    }
}

@media only screen and (min-width: $pc-breakpoint) {

    .faq-wrapper {
        gap: 1.4rem;
    }
    .accordion {

        &.animation {
            &:after {
                top: 15px;
            }  
        }
        &:after {
          font-size: 16px;
          right: 1rem;
          top: 13px;
        }

        .contents.is-open {
            padding: 1rem;
            line-height: 1.5;
        }
    }
}