footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    ul {
        display: flex;
        li {
            margin: 0 1rem;
            font-size: 1.1rem;
            border: white solid 2px;
                border-radius: 50%;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                display: block;
            }

        }
    }

    p {
        margin: 0;
        font-family: $font__heading;
        font-size: .9rem;
        letter-spacing: .1rem;
        padding: .5rem;
        text-align: center;
    }

    span {
        color: $accent-color;
    }
}



@media only screen and (min-width: $tablet-breakpoint) {
    footer {
        box-shadow: 0 4px 20px 0 rgba($color: $accent-color, $alpha: .7) inset;
        padding: 1rem 3rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    
        div {
            order: 2;
            ul {
                margin: 0;
                display: flex; 
                li {
                    margin: 0 .5rem;
                    font-size: .9rem;
                }
            }
        }
    
        p {
            order: 1;
            margin: 0;
            font-family: $font__heading;
            font-size: .9rem;
            letter-spacing: .16rem;
            text-align: left;
        }
    }

}

@media only screen and (min-width: $pc-breakpoint) {
    footer {
        p {
            font-size: 1rem;
        }
    }
}
