header {

.site-branding {
    padding: 1.5rem;
    display: flex;
    flex-flow: column nowrap;

    .logo-download-icons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;

        .custom-logo {
            width: 22vw;
            max-width: 100px;
        }

        .download-img {
            width: 38vw;
            max-width: 150px;
        }
    }

    .site-title, 
    .site-description {
        text-align: center;
        margin: 0;
        font-weight: 400;
        font-family: $font__heading;
    }

    .site-title {
        font-size: 38px;

        &::first-letter {
            color: $accent-color !important;
            text-transform: uppercase;
        }
    }

    .site-description {
        font-size: 24px;
    }


}

    nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.5rem;

        .icon-wrapper {
            height: 50px;
            width: 50px;
            // to center nav icons
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav-menu {
            width: 100%;

            ul {
                display: grid;
                grid-gap: .7rem;
            }

            li {
                background-color: rgba(0,0,0,.25);
                border: 1px solid $accent-color;
                border-radius: 5px;
                padding: .7rem;
                text-align: center;
                //fix later
                font-size: 20px;
            }
        }
    }

    #site-navigation .nav_toggle[aria-expanded='false'] {
        background: url('./images/nav-icon.svg') no-repeat center center; 
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        color: transparent;
        
        &:focus {
            outline: none;
        }
    }

    #site-navigation .nav_toggle[aria-expanded='true'] {
        background: url('./images/nav-close.svg') no-repeat center center; 
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        color: transparent;
        
        &:focus {
            outline: none;
        }
    }

    .desktop-download {
        display: none;
    }



}



@media only screen and (min-width: $tablet-breakpoint) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 3rem;
        box-shadow: 0 -2px 12px 0 #DE9E48 inset;
        background: url('./images/background-below.png') no-repeat 90% 0%;
        background-size: 60%;

        // grid item #1
        .site-branding {
            grid-column: 1 / 4;
            grid-row: 1 / -1;

            .site-title {
                font-size: 50px;
            }

            .site-description {
                font-size: 30px;
            }
            .logo-download-icons {
                .custom-logo {
                    min-width: 80px;
                    width: 7vw;
                    max-width: 170px;
                }

                .download-img {
                    display: none;
                }
            }

            .site-title, .site-description {
                text-align-last: left;
            }
        }

        // grid item #2
        #site-navigation {
            grid-column: -1 / -4;
            grid-row: 1 / span 1;
            justify-content: flex-start;
            align-items: flex-end;
            .icon-wrapper {
                display: none;
            }
            // div inside nav
            .nav-menu {
                width: auto;

                ul {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }

                li {
                    background-color: transparent;
                    border: none;

                    a:hover {
                        text-decoration: underline $accent-color;
                    }
                }

            }
        }

        // grid item #3
        .desktop-download {
            grid-column: 4 / span 1;
            grid-row: 2 / span 1;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 1.5rem;
            padding-right: 8vw;

            .download-img {
                min-width: 130px;
                width: 10vw;
                max-width: 180px;
            }
        }



    }
}

@media only screen and (min-width: $pc-breakpoint) {
    header {
        background: url('./images/background-below.png') no-repeat 90% center;
        background-size: contain;
    }
}