.page-contact .site-main .page {
  .nf-before-form-content {
    display: none;
  }

  .nf-form-content {
    max-width: 600px;
    padding: 0;
  }

  .nf-form-content .label-above .nf-field-label,
  .nf-form-content .label-below .nf-field-label,
  .nf-form-content .label-hidden .nf-field-label {
    margin-bottom: 0.5rem;
  }

  .nf-error-msg,
  .ninja-forms-req-symbol {
    color: $color__text-main;
  }

  #ninja_forms_required_items,
  .nf-field-container {
    margin-bottom: 2.25rem;
  }

  #nf-field-3-container {
    margin-bottom: 7rem;
  }

  .nf-field-label label {
    font-family: $font__heading;
    font-size: $font-mobile-p;
    font-weight: 400;
  }

  .nf-form-title h3 {
    margin: 1.5rem 0;
    font-weight: 400;
    font-size: $font-mobile-h2;
  }

  .submit-wrap div {
    // button alignment
    text-align: center;
  }

  input[type="button"] {
    font-weight: 400;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .page-contact .site-main {
    padding-bottom: 20vh;

    .page {
      .nf-field-label label {
        font-size: 1.1rem;
      }

      .nf-form-title h3 {
        font-size: $font-tablet-h2;
      }

    }
  }



}
