.team {
  // position: relative;

  &__title {
    text-align: center;
  }

  &__member-name {}

  &__center-image {}

  &__member-profile-image {

    img {
      border-radius: 50%;
      height: 120px;
      border-radius: 50%;
      width: 120px;
      object-fit: cover;
    }
  }
  // Upper Right Position
  article:nth-of-type(1) img {
    position: absolute;
    top: 35rem;
    right: 18rem;
  }

  // Middole Right Position
  article:nth-of-type(2) img {
    position: absolute;
    top: 45rem;
    right: 8rem;
  }

  // Bottom Right Position
  article:nth-of-type(3) img {
    position: absolute;
    top: 65rem;
    right: 12rem;
  }

  // Upper Left Position
  article:nth-of-type(4) img {
    position: absolute;
    top: 30rem;
    left: 18rem;
  }

  // Bottom Left Position
  article:nth-of-type(5) img {
    position: absolute;
    top: 45rem;
    left: 10rem;
  }

}