.team {
  flex-flow: row wrap;
  display: flex;
  gap: 2rem;
  max-width: $max-width;
  justify-content: center;
  margin: auto;
  padding-bottom: 16vh;

  @media screen and (min-width:$tablet-breakpoint) {
    gap: 0;
    padding-bottom: 22vh;
  }

  &__member-intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 6rem;
    column-gap: 3rem;
    @media screen and (min-width:$tablet-breakpoint) {
      margin-top: 4rem;
    }
  }

  &__intro-area {
    flex: 0 0 100%;

    @media screen and (min-width:$tablet-breakpoint) {
      flex: 0 0 calc(50% - 1.5rem);
    }

    @media screen and (min-width:$pc-breakpoint) {
      flex: 0 0 calc(33% - 2rem);
    }

    .team__full-name {
      h3 {
        margin-top: 0;
        color: $accent-color;
        font-family: $font__heading;
        margin-bottom: 0;
        text-align: center;
        @media screen and (min-width:$pc-breakpoint) {
          font-size: 1.7rem;
        }
      }
    }

    .team__member-position {
      text-align: center;
      margin-bottom: 1.25rem;
    }

    .team__member-description {
      text-align: left;

      @media screen and (min-width: $tablet-breakpoint) {
        text-align: center;
      }
    }

    .team__prof-image {
      display: block;
      text-align: center;

      @media screen and (min-width: $tablet-breakpoint) {
        display: none;
      }

      img {
        border-radius: 50%;
        width: 140px;
        height: 140px;
        object-fit: cover;
        border: 2px $accent-color solid;
      }
    } // team prof image
  } // intro area

  &__title {
    width: 100%;
    @media screen and (min-width: $tablet-breakpoint) {
      text-align: center;
      margin: .8rem;
    }
  }

  &__center-image {
    display: none; 
    @media screen and (min-width: $tablet-breakpoint) {
      display: block;
      width: 85%;
      max-width: 900px;
      figure {
        margin: 0;
      }
    }
  }
}