body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 1rem;
  line-height: $font__line-height-body;
}

.site .nf-field-label label {
  font-family: $font__heading;
  font-size: 1.875rem;
  font-weight: 400;
}

.nf-form-title h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

@import 'headings';
@import 'copy';
