// General
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body,
button,
input,
select,
optgroup,
textarea {
  background-color: $color__background-body;
  color: $color__text-main;
  font-family: $font__main;
  font-size: $font-mobile-p;
  line-height: $line-height;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__heading;
  font-weight: 400;
}

.site-title {
  font-size: $font-mobile-h1;
}

h2 {
  font-size: $font-mobile-h2;
}

h3 {
  font-size: $font-mobile-h3;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  padding: 0 1.5rem;
}

.wrapper--narrow {
  padding: 0 3rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  padding: $mobile-padding;
}

// background decoration left glow for mobile screen
body {
  box-shadow: 12px 0 17px -12px $accent-color inset;
}
// background decoration right glow for mobile screen
.site {
  box-shadow: -12px 0 17px -12px $accent-color inset;
}

// General media query
@media only screen and (min-width: $tablet-breakpoint) {
  body {
    box-shadow: none;
    background-image: url('./images/background-above.png');
    background-repeat: no-repeat;
    background-position: 140% 100%;
    background-size: 50%;
  }

  body,
  button,
  input,
  select,
  optgroup,
  textarea {
    font-size: $font-tablet-p;
  }

  main {
    padding: $tablet-padding;
  }

  .site-title {
    font-size: $font-tablet-h1;
  }

  h2 {
    font-size: $font-tablet-h2;
  }

  h3 {
    font-size: $font-tablet-h3;
    text-align: center;
  }

  .site {
    box-shadow: none;
  }
}

@media only screen and (min-width: $pc-breakpoint) {
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
    font-size: $font-desktop-p;
  }

  main {
    padding: $desktop-padding;
    padding-top: 8vh;
    padding-bottom: 20vh;
  }

  .site-title {
    font-size: $font-desktop-h1;
  }

  h2 {
    font-size: $font-desktop-h2;
  }

  h3 {
    font-size: $font-desktop-h3;
  }

  .site {
    box-shadow: none;
  }
}

