// Colors
$main-color: #372c2e;
$accent-color: #de9e48;
$bg-light-color: #fdf9df;
$alert-color: #F04444;
$success-color: #50B861;

// Breakpoints
$tablet-breakpoint: 600px;
$pc-breakpoint: 960px;

// Header & Footer Height
$header-height: 56px;
$footer-height: 84px;
$height_input: 50px;

// Font Size
$font-xs: 14px;
$font-sm: 16px;
$font-md: 20px;
$font-lg: 24px;
$font-xl: 32px;
