button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.site .nf-form-content button,
.site .nf-form-content input[type='button'],
.site .nf-form-content input[type='submit'] {
  width: 280px;
  height: 50px;
  border: 2px solid;
  border-color: $color__border-button;
  border-radius: 5px;
  background-color: $color__background-button;
  color: $color__button;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    border-color: $color__border-button-hover;
    background-color: $color__background-button-hover;
    color: $color__button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}
