button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.page .nf-form-content button,
.page .nf-form-content input[type='button'],
.page .nf-form-content input[type='submit'] {
  width: 280px;
  height: 50px;
  border: 2px solid;
  border-color: $color__border-button;
  border-radius: 5px;
  background: $color__background-button;
  color: $color__button;
  line-height: 1;
  padding: 0.6em 1em 0.4em;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}
