$color__background-body: #3f3230;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #de9e48;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-input: #201d1d;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #fdf9df;
$color__button: #372c2e;

$color__border-button: #fff #fff #fff;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #de9e48;
$color__border-abbr: #666;
