

#primary {

    .about-cheers-container article{
        display: grid;
        max-width: $max-width;

        h2 {           
            span {
                color: $accent-color;
            }
        }

        .about-featured-image {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3rem 0;

            img {
                max-width: initial;
                width: 50vw;
                box-shadow: 5px 5px 100px 0px rgba($color: $accent-color
                , $alpha: 0.4);
                display: block;
                border: 1px solid $accent-color;
            }
        }
    }

    

}

@media only screen and (min-width: $tablet-breakpoint) {
    #primary {
        .about-cheers-container article{
            grid-template-columns: 60% 40%;
            justify-self: center;
            margin-bottom: 0;
    
            .about-cheers-content {
               display: flex;
               flex-flow: column nowrap;
               justify-content: center;    
            
               h2 {
                   text-align: left;  
                   margin-top: .5rem;
                   margin-bottom: .5rem;
               }
    
            }
    
            .about-featured-image {
                img {
                    max-width: 260px !important;
                    width: 20vw !important;             
                }
            }
        }
    }
}
    

@media only screen and (min-width: $pc-breakpoint) {

    #primary {
        .about-cheers-container article {
            grid-template-columns: 50% 50%;
        }
    }



}