
.problem-solution-container {
    margin-bottom: 5rem;

    h2 {
        font-size: 24px;
    }
}


@media only screen and (min-width: $tablet-breakpoint) {

    .problem-solution-container {
        height: 600px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 0;

        article {
            padding: 2rem;
            max-width: $x-large-max-width;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            h2 {
                //fix later
                font-size: 38px;
            }

            p {
                text-align: left;
                width: 560px;
                font-size: 18px;
            }
        }
    }
}

@media only screen and (min-width: $pc-breakpoint) {
    .problem-solution-container {
        margin-bottom: 5rem;
    }
}