.problem-solution-container {
    margin-bottom: 10vh;
}


@media only screen and (min-width: $tablet-breakpoint) {

    .problem-solution-container {
        height: 500px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 0;

        article {
            padding: 2rem 0;
            max-width: $max-width;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            p {
                text-align: left;
                width: 560px;
            }
        }
    }
}

@media only screen and (min-width: $pc-breakpoint) {
    .problem-solution-container {
        margin-bottom: 8vh;
    }
}