.testimonials {
    font-family: $font__heading;
    padding-bottom: 5rem;

    h3 {
        padding: 0 1rem;
    }
    .owl-item {
        width: 100%;
    }

    .owl-next,
    .owl-prev {
        &:focus {
            outline: none;
        }
    }
}

.owl-carousel {
    width: 95vw !important;

}

// each carousel card
.owl-carousel .owl-item div{

    p:not(:last-of-type) {
        background-color:#3F3230;
        box-shadow: 0 -4px 20px rgba($color: $accent-color, $alpha: 0.7) inset;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 85%;
        margin: 0 auto;
        padding: 2rem 2rem 3rem 2rem;
        min-height: 250px !important;

        &::before {
            content: '“';
            position: absolute;
            top: 15px;
            left:15px;
            font-size: 2rem;
            color: $accent-color;
        }

        &::after {
            content: '”';
            position: absolute;
            bottom: 20px;
            right:15px;
            font-size: 2rem;
            color: $accent-color;
        }
    }

    img {
        width: 74px;
        height: 74px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid $accent-color;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
}


@media only screen and (min-width: $tablet-breakpoint) {
    .testimonials {
        padding-bottom: 10rem;

        h3 {
            text-align: center;
            font-size: $font-tablet-h3;
        }

        p {
            font-size: $font-tablet-p;
        }

    }

    .owl-carousel .owl-item div{

        p:not(:last-of-type) {
            padding: 2.5rem 2.5rem 4rem 2.5rem;
        }
    
    }

}
@media only screen and (min-width: $pc-breakpoint) {

    .testimonials {
        padding-top: 5vh;
        padding-bottom: 12vh;
    }

    .owl-carousel .owl-item div{
        img {
            width: 90px;
            height: 90px;
        }
    }
}