// applied to home/about/how to use/testimonials sections

#primary {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    //background-image: url('./images/cheers-bg-8.png');
    
    h2 {
        font-weight: 400;
    }
}

@media only screen and (min-width: $pc-breakpoint) {
    #primary {
        line-height: 38px;
        box-shadow: none
    }
}