// applied to home/about/how to use/testimonials sections

.front-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h2 {
        font-weight: 400;
    }
}

@media only screen and (min-width: $tablet-breakpoint) {
    .front-page {
        box-shadow: none;
        background: url('./images/background-right.png') no-repeat 0% 30%;
        background-size: 30%;
        padding-top: 3rem;
    }
}






